/*Todo elemento en HTML se representa como una caja*/
/* CSS = Cascade StileSheet = Hoja de Estilo en Cascada */
* {
    font-family: sans-serif;
}
img {
    height: 130px; /*altura*/
    width: 200px; /*grosor/anchura*/
}